@charset "UTF-8";
/* CSS Document */

@charset "UTF-8";
/* CSS Document */

/* styling html tag to center page */
html {
 margin: 14px auto;
 padding: 0 1em;
 max-width: 60em; /* 960px / 16px = 60em */
 /* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(219,219,219,0.2) 98%, rgba(219,219,219,0.2) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(98%,rgba(219,219,219,0.2)), color-stop(100%,rgba(219,219,219,0.2))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(219,219,219,0.2) 98%,rgba(219,219,219,0.2) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(219,219,219,0.2) 98%,rgba(219,219,219,0.2) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(219,219,219,0.2) 98%,rgba(219,219,219,0.2) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(219,219,219,0.2) 98%,rgba(219,219,219,0.2) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33dbdbdb',GradientType=0 ); /* IE6-8 */
}



body {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMC4xMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(221,221,221,0.11) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(221,221,221,0.11))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,0.11) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,0.11) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,0.11) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,0.11) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1cdddddd',GradientType=0 ); /* IE6-8 */
}



/* ********************* */
/* logo and company name */
header#head {
	float: left;
	position: relative;
	margin: 0 0 20px 0;
	padding: 0;
	width: 70%;
}
header#head img {
	float: left;
	position: relative;
	margin: 0 1.75% 0 0;
	padding: 0 0 0 0;
}
header#head h1 {
	/* sizing */
	font-size: 1.6em;
	font-weight: normal;
	/* positioning */
	position: relative;
	margin: 8px 0 0 0;
}




/* ****************************** */
/* home and contact us list links */
header#right-link {
	float: right;
	position: relative;
	margin: 0 0 0 0;
	padding: 0 0 38px 0;
	width: 30%;
}
/* home and contact us list links */
header#right-link ul{
	/* positioning */
	float: right;
	position: relative;
	width: 80%;
	margin: 42px 0 0 0;
	padding: 0 0 0 0;
	display: inline;
	/* list specifics */
	list-style: none;
	font-size: .875em;
}
header#right-link ul li {
	/* positioning */
	margin: 0 0 0 0;
	padding: 3px 8px;
	display: inline;
	/* styling */
	list-style: none;
	text-decoration: none;
	border-left: 1px solid #cccccc;
}
header#right-link ul li.first {
	margin: 0 0 0 0;
	border-left: none;
	list-style: none;
	display: inline;
}
/* format the actual link */
header#right-link li a {
	text-decoration: none;
	color: #454545;
}
header#right-link li a:hover {
	color: #00448f;
	text-shadow: #8a8a8a 1px 1px 0;
}




/* *********************** */
/* Slide Show (FlexSlider) */

article.dynamic-display {
	position: relative;
	width: 100%;
	clear: both;
	padding: 0 0 0 0;
}

article.dynamic-display img {
	width: 100%;
	height: 220px;
}






/* **************** */
/* three link boxes */
/* each box */
article#three-boxes {
	width: 33.333%;
	position: relative;
	float: left;
	margin: 16px 0 0 0;
	padding: 8px;
	border-left: 4px solid #dddddd;
	background-color: #dddddd;
}
/* clear the left-most border away */
article#three-boxes.first {
	border-left: none;
}

/* header box parameters */
article#three-boxes header {
	position: relative;
	clear: both;
	width: 100%;
	margin: 0 0 6px 0;
	padding: 0 0 0 0;
}
/* photos for the three header sections */
header.three-boxes-left {
	background-image: url(../images/products-hover.jpg);
}
header.three-boxes-middle {
	background-image: url(../images/services-hover.jpg);
}
header.three-boxes-right {
	background-image: url(../images/shutterstock_70552621-hover.jpg);
}
/* header headline text parameters */
article#three-boxes header h2 {
	font-size: 1.375em;
	padding: 8px 18px;
	margin: 0 0 0x 0;
	color: #dddddd;
	font-weight: bold;
}
/* headline hover state */
article#three-boxes header:hover h2 {
	font-size: 1.375em;
	padding: 8px 18px;
	margin: 0 0 0x 0;
	color: #ffffff;
	font-weight: bold;
	text-shadow: #878787 1px 1px 0;
}
/* header paragraph text parameters */
article#three-boxes p {
	font-size: .75em;
	line-height: 1.4em;
	padding: 8px 8px;
	background-color: #eeeeee;
}
/* learn more */
p.learn-more a {
	font-size: .8em;
	color: #454545;
	border: 1px solid orange;
	padding: 2px 12px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
p.learn-more a:hover {
	font-size: .8em;
	color: #00448f;
	border: 1px solid #00448f;
	padding: 2px 12px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}




/* ********************* */
/* big paragraph on left */
section#big-area {
	width: 64%;
	position: relative;
	float: left;
	background-color: #ffffff;
	margin: 32px 0;
	border: 1px solid #dedede;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
section#big-area h2 {
	font-size: 1.25em;
	font-weight: bold;
	padding: 24px 24px;
	margin: 0 0 0 0;
}
section#big-area p {
	font-size: .875em;
	line-height: 1.6em;
	padding: 0 24px 14px 24px;
	margin: 0 0 0 0;
}
/* for a list in the main area */
section#big-area ul {
	list-style-type: disc;
	margin-left: 0;
	padding-left: 2em;
	padding-bottom: 16px;
	list-style-position: inside;
	text-indent: -1em;
}
section#big-area li {
	font-size: .8em;
	line-height: 1.7em;
}
section#big-area ul ul {
	padding-bottom: 4px;
}
section#big-area ul ul li {
	list-style: none;
}





/* ****************** */
/* aside */
aside {
	position: relative;
	float: right;
	width: 28%;
	margin: 32px 2.4% 12px 0;
	padding: 0 2%;
	border: 1px solid #dedede;
	background-color: #ffffff;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

/* aside list */
.aside-list {
	list-style-type: none;
	margin-left: 0;
	padding-left: 1.0em;
	list-style-position: inside;
	text-indent: -1em;
	margin: 0 0 12px 0;
}
.aside-list li {
	font-size: .75em;
	line-height: 1.6em;
}
.aside-list ul li {
	font-size: .75em;
	text-indent: .015625em;
	list-style-type: none;
}


article#related-info header {
	position: relative;
	clear: both;
	margin: 20px 0 10px 0;
	padding: 12px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjZGVlMiIgc3RvcC1vcGFjaXR5PSIwLjEyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2ZiZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(204,222,226,0.12) 0%, rgba(247,251,252,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(204,222,226,0.12)), color-stop(100%,rgba(247,251,252,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(204,222,226,0.12) 0%,rgba(247,251,252,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(204,222,226,0.12) 0%,rgba(247,251,252,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(204,222,226,0.12) 0%,rgba(247,251,252,1) 100%); /* IE10+ */
background: linear-gradient(left,  rgba(204,222,226,0.12) 0%,rgba(247,251,252,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fccdee2', endColorstr='#f7fbfc',GradientType=1 ); /* IE6-8 */
}
article#related-info h4 {
	font-size: 1em;
	margin: 0;
	padding: 0;
}
article#related-info p {
	font-size: .75em;
	margin: 0 0 16px 0;
	padding: 0;
	line-height: 1.5em;
}
article#related-info img {
	width: 100%;
	float: left;
	position: relative;
}





/* ****** */
/* footer */
footer#big-footer {
	position: relative;
	float: left;
	width: 100%;
	margin: 0 0 0 0;
	padding: 16px 0;
	border: 1px solid #eeeeee;
	text-align: center;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIwLjExIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(221,221,221,0.11) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,0.11)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(221,221,221,0.11) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(221,221,221,0.11) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(221,221,221,0.11) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(221,221,221,0.11) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cdddddd', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}
/* tweak for really really old browsers */
html>body footer#big-footer nav li a {
	width: auto;
}
