@charset "UTF-8";
/* CSS Document */
* { 
	box-sizing: border-box; /* traditional model: box sizes applied to border AND everything. */
	-moz-box-sizing: border-box; /* Firefox, etc. */
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-transition: all 0.4s ease-in-out; 
    -moz-transition: all 1000ms ease-in-out; 
    -ms-transition: all 1000ms cubic-bezier(0.235, 0.000, 0.760, 0.990); 
    -o-transition: all 1000ms cubic-bezier(0.235, 0.000, 0.760, 0.990); 
    transition: all 1000ms ease-in-out; /* custom */

}

html {
 	margin: 0 0;
 	padding: 0 0;
}

html, body {
	width: 740px;
	margin: 0 auto;
	font-size: 1em;
	color: #000000;
	font-family: 'Signika', Helvetica;
	background-color: #905524; /* was #e6edf0 */
}

/* ********************* */
/* logo and company name */
header {
	position: relative;
	float: left;
	margin: 0 0 0 0;
	padding: 20px;
	width: 476px;
	max-width: 740px;
	border-top: 3px solid #7d3900;
	border-bottom: 3px solid #7d3900;
	background: #e09c65; /* Old browsers */
	/* gradient */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwOWM2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGFjODUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e09c65 0%, #e0ac85 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e09c65), color-stop(100%,#e0ac85)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e09c65 0%,#e0ac85 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e09c65 0%,#e0ac85 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e09c65 0%,#e0ac85 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e09c65 0%,#e0ac85 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e09c65', endColorstr='#e0ac85',GradientType=0 ); /* IE6-8 */
}

/* *** logo *** */
figure.head-logo img {
	position: relative;
	float: left;
	margin: 0 0 6px 6px;
	padding: 0;
	width: 100px;
	max-width: 100px;
	display: inline-block;
	-webkit-transition: all 0.4s ease-in-out; 
    -moz-transition: all 1000ms ease-in-out; 
    -ms-transition: all 1000ms cubic-bezier(0.235, 0.000, 0.760, 0.990); 
    -o-transition: all 1000ms cubic-bezier(0.235, 0.000, 0.760, 0.990); 
    transition: all 1000ms ease-in-out; /* custom */
}

/* valley roofing pros */
.logo-text {
	position: relative;
	float: left;
	display: inline-block;
	font-size: 1.5rem;
	line-height: 1.6rem;
	margin: 20px 0 1% 12px;
	width: 310px;
	color: black;
	font-weight: bold;
	font-family: Palatino, Times, serif;
	display: inline-block;
	vertical-align: top;
	word-wrap: break-word;
	-webkit-transition: all 0.4s ease-in-out; 
    -moz-transition: all 1000ms ease-in-out; 
    -ms-transition: all 1000ms cubic-bezier(0.235, 0.000, 0.760, 0.990); 
    -o-transition: all 1000ms cubic-bezier(0.235, 0.000, 0.760, 0.990); 
    transition: all 1000ms ease-in-out;
}

/* building trust one roof at a time */
.logo-tagline {
	position: relative;
	float:left;
	display: inline-block;
	font-size: 1.2rem;
	color: #c00000;
	width: 440px;
	margin: 0 0 6px 6px; /* needed to align left with logo */
	text-align: left;
	font-weight: bold;
	font-family: Palatino, Times, serif;
	font-style: italic;
	/* animation */
	-webkit-transition: all 0.4s ease-in-out; 
    -moz-transition: all 1000ms ease-in-out; 
    -ms-transition: all 1000ms cubic-bezier(0.235, 0.000, 0.760, 0.990); 
    -o-transition: all 1000ms cubic-bezier(0.235, 0.000, 0.760, 0.990); 
    transition: all 1000ms ease-in-out; /* custom */
}

.normal-weight {
	font-weight: normal !important;
}

/* right side of page */
#small-area {
	display: block;
	position: relative;
	float: right;
	width: 260px;
	margin: -140px 0 0 0;
	max-width: 260px;
	min-width: 260px;
	border-left: 2px solid #804413;
	background: #e0ac85; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwYWM4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMDljNjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #e0ac85 0%, #e09c65 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e0ac85), color-stop(100%,#e09c65)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #e0ac85 0%,#e09c65 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #e0ac85 0%,#e09c65 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #e0ac85 0%,#e09c65 100%); /* IE10+ */
background: linear-gradient(to right,  #e0ac85 0%,#e09c65 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0ac85', endColorstr='#e09c65',GradientType=1 ); /* IE6-8 */}


/* button to request estimate */
/* *** button *** */
a.button {
	position: relative;
	width: 165px;
	max-width: 165px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9rem;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	padding: 12px 6px;
	margin: 24px 0 18px 36px;
	background: -moz-linear-gradient(
		top,
		#006400 0%,
		#5ccc5c 22%,
		#006400);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#006400),
		color-stop(0.22, #5ccc5c),
		to(#006400));
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border: 3px solid #e9f4f6;
	-moz-box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(206,226,235,1);
	-webkit-box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(206,226,235,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}
a.button:hover {
	position: relative;
	width: 165px;
	max-width: 165px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9rem;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	padding: 12px 6px;
	margin: 24px 0 18px 36px;
	background: -moz-linear-gradient(
		top,
		#5ccc5c 0%,
		#006400 22%,
		#5ccc5c);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#5ccc5c),
		color-stop(0.22, #006400),
		to(#5ccc5c));
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border: 3px solid #e9f4f6;
	-moz-box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(206,226,235,1);
	-webkit-box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(206,226,235,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}

h2.estimate-call {
	position: relative;
	width:244px;
	text-align: center;
	float: left;
	color: #000000;
	font-size: .9rem;
	padding: 16px;
	border-bottom: solid .125em #7d3900;
}
/* modify what I want strong to mean */
strong {
	font-weight: bolder;
	font-size: 1.2rem;
}

/* *** GAF *** */
h2.gaf-caption {
	font-size: .9rem;
	line-height: 1.1rem;
	float: left;
	color: #000000;
	margin: 24px 0 0 0;
	padding: 0 30px;
	width: 244px;
	text-align: center;
}
a.shingle-button {
	position: relative;
	width: 165px;
	max-width: 165px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	padding: 12px 6px;
	margin: 14px 0 10px 36px;
	background: -moz-linear-gradient(
		top,
		#006400 0%,
		#5ccc5c 22%,
		#006400);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#006400),
		color-stop(0.22, #5ccc5c),
		to(#006400));
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border: 3px solid #e9f4f6;
	-moz-box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(206,226,235,1);
	-webkit-box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(206,226,235,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}
a.shingle-button:hover {
	position: relative;
	width: 165px;
	max-width: 165px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	padding: 12px 6px;
	margin: 14px 0 10px 36px;
	background: -moz-linear-gradient(
		top,
		#5ccc5c 0%,
		#006400 22%,
		#5ccc5c);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#5ccc5c),
		color-stop(0.22, #006400),
		to(#5ccc5c));
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border: 3px solid #e9f4f6;
	-moz-box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(206,226,235,1);
	-webkit-box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(206,226,235,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}




/* *** MAP *** */
aside.county-map {
	position: relative;
	float: left;
	width: 244px;
	max-width: 244px;
	margin: 14px 0 26px 0;
	padding: 16px 0 12px 0;
	border-top: solid .125em #7d3900;
	border-bottom: solid .125em #7d3900;
}
.county-map-caption {
	position: relative;
	float: left;
	width: 232px;
	max-width: 232px;
	padding: 4px;
	margin: 0 0 4px 12px;
	color: white;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background-color: #7d3900;
	text-align: center;
	font-style: italic;
	-webkit-box-shadow: 2px 2px 6px #000000;
	-moz-box-shadow: 2px 2px 6px #000000;
	box-shadow: 2px 2px 6px #000000;

}
.county-map img {
	float: left;
	position: relative;
	width: 225px;
	max-width: 225px;
	padding: 8px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 2px solid #7d3900;
	margin: 10px 0 0 0;
	background-color: whitesmoke;
	-webkit-box-shadow: -1px 1px 5px #333333;
	-moz-box-shadow: -1px 1px 5px #333333;
	box-shadow: -1px 1px 5px #333333;
}


/* *** social *** */
#head-soc {
	position: relative;
	float: left;
	margin: 0 0 0 36px;
	padding: 0 0 16px 0;
}
#head-soc ul li {list-style :none; padding: 0 0 0 12px; float: right;}
#head-soc ul li a {text-indent: -9999px; font-size: 0; line-height: 0; overflow: hidden ; height: 32px; width: 32px ;border: 0; background: url(../images/social-media.gif) no-repeat; display: block;}

#head-soc li#g a {background-position: 0px 0px;}
#head-soc li#g a:hover {background-position: 0px -32px;}

#head-soc li#fb a {background-position: -96px 0px;}
#head-soc li#fb a:hover {background-position: -96px -32px;}

#head-soc li#twit a {background-position: -128px 0px;}
#head-soc li#twit a:hover {background-position: -128px -32px;}

#head-soc li#li a {background-position: -160px 0px;}
#head-soc li#li a:hover {background-position: -160px -32px;}





/* hiding map to conserve bandwidth for mobile users */
img.map {
	width: 33%;
	float: none;
	width: 100%;
	display: none;
}








/* vision statement */
#vision {
	background-color: #e09c65;
	position: relative;
	float: left;
	width: 476px;
	margin: 6px 0;
	color: #333333;
	padding: 12px;
}
h2.vision-statement {
	color: #7d3900;
	font-size: 1.1rem;
	line-height: 1.8rem;
}


/* *** main services container *** */
section#main {
	position: relative;
	float: left;
	width: 476px;
	margin: 0;
	padding: 0;
	border-top: solid 3px 7d3900;
	height: 100%;
}

/* *** services *** */
article#services {
	position: relative;
	float: left;
	display: block;
	width: 104px;
	margin: 0 10px 0 0;
}
article#services h2 {
	color: #ffffff;
	font-size: 1.0rem;
	font-weight: bold;
	text-align: left;
	padding: 26px 0 8px 0;
	text-shadow: #000000 1px 1px 0;
}
article#services p {
	font-size: .7rem;
	line-height: 1rem;
	text-align: left;
	padding: 12px 0 20px 0;
	color: #ffffff;
}
section#main figure.images {
	position: relative;
	float: left;
	width: 90px;
	max-width: 90px;
	height: 100%;
	margin: 0 24px 0 0;
	-moz-box-shadow:
		0px 3px 86px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(206,226,235,1);
	-webkit-box-shadow:
		0px 3px 8px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(206,226,235,1);
}
section#main img {	
	width: 100px;
	max-width: 100px;
	position: relative;
	float: left;
}

.horizontal-images {
	display: none;
}




/* county listing */
aside#counties-served {
	display: none;
	position: relative;
	float: left;
	width: 36%;
	padding: .5em;
	margin: 0 0 0 .6em;
	color: black;
	font-size: .875rem;
	background-color: #eeeeee;
	border: solid 1px green;
	border-radius: 12px; 
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	/* shadow */
    -webkit-box-shadow:  4px 4px 6px 0px rgba(0, 0, 0, .3);
    box-shadow:  4px 4px 6px 0px rgba(0, 0, 0, .3);  
    /* gradient */
    background: rgb(245,245,245); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIxJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2RjZGNkYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(245,245,245,1) 0%, rgba(230,230,230,1) 21%, rgba(220,220,220,1) 49%, rgba(230,230,230,1) 80%, rgba(245,245,245,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(21%,rgba(230,230,230,1)), color-stop(49%,rgba(220,220,220,1)), color-stop(80%,rgba(230,230,230,1)), color-stop(100%,rgba(245,245,245,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(230,230,230,1) 21%,rgba(220,220,220,1) 49%,rgba(230,230,230,1) 80%,rgba(245,245,245,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(230,230,230,1) 21%,rgba(220,220,220,1) 49%,rgba(230,230,230,1) 80%,rgba(245,245,245,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(230,230,230,1) 21%,rgba(220,220,220,1) 49%,rgba(230,230,230,1) 80%,rgba(245,245,245,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(230,230,230,1) 21%,rgba(220,220,220,1) 49%,rgba(230,230,230,1) 80%,rgba(245,245,245,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-8 */
}
aside#counties-served h2 {
	font-weight: normal;
	text-align: center;
	margin: 0 0 4% 0;
	padding: 6% 6% 6% 0;
	border-bottom: 1px solid white;
}
ul.counties li {
	text-align: center;
	display: list-item;
	color: #333333;
	width: 100%;
	list-style-type: none;
	line-height: 1.65em;
}

/* *** services *** */
ul.services li {
	font-size: 1rem;
	display: list-item;
	color: #333333;
	list-style-type: none;
	line-height: 1.5em;
	margin: 0 0 0 28%;
}
/* select last list item to modify line height */
ul.services li:nth-last-child(1) {
	line-height: 1.1em;
	padding: 1% 0 0 0; /* correct due to adjusting line height */
}

/* *** shingle *** */
.shingle-selector img {
	width: 100%;
	max-width: 100%;
}
.shingle-selector a {
	display: none;
	position: relative;
	float: right;
	font-size: .9rem;
	text-decoration: none;
	margin: 10% 28% 0 0;
	border: 1px solid #cccccc;
	padding: .9em;
	width: 40%;
	text-align: center;
	border-radius: 12px; 
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	border: 1px solid green;
}

footer#site-footer {
	float: left;
	position: relative;
	width: 740px;
	background-color: #eeeeee;
	margin: 3px 0 0 0;
	text-align: center;
	/* gradient */
	background: rgb(201,215,217); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwYWM4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMDljNjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e0ac85 0%, #e09c65 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0ac85), color-stop(100%,#e09c65)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e0ac85 0%,#e09c65 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e0ac85 0%,#e09c65 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e0ac85 0%,#e09c65 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e0ac85 0%,#e09c65 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0ac85', endColorstr='#e09c65',GradientType=0 ); /* IE6-8 */}
/* put office and cell number on same line */
li.inline-footer {
	display: inline-block;
	padding: 1em 2.5em;
	font-size: .8rem;
	list-style-type: none;
}
small {
	position: relative;
	clear: both;
	font-size: .7rem;
	line-height: 3em;
}