@charset "UTF-8";
/* CSS Document */

/* styling html tag to center page */
html {
	margin: 0.875em auto;
 	padding: 0 1em;
	max-width: 120em; /* 1920px / 16px = 120em */
 	box-sizing: border-box; /* traditional model: box sizes applied to border AND everything inside. */
	-moz-box-sizing: border-box; /* Firefox, etc. */
	-ms-box-sizing: border-box; /* for IE10 and below */
}

 
/* unify all the border box items here */
* html, header {
	 box-sizing: border-box; /* traditional model: box sizes applied to border AND everything inside. */
	-moz-box-sizing: border-box; /* Firefox, etc. */
	-ms-box-sizing: border-box; /* for IE10 and below */
}

body {
	
}

header {
	position: relative;
	float: none;
	width: 100%;
	min-width: 20em;
	background-color: #0066cc;
	border: solid 1px #444444;
}


h1 {
	font-size: 2em;
	padding: 0.5em;
}
/* Mars Hill Bible School */
h1.school-name {
	width: 50%;
	border: solid 1px #777777;
}

nav.full-wide {
	position: relative;
	float: left;
	width: 100%;
	min-width: 10em;
}
#big-box {
	position: relative;
	float: left;
	width: 20%;
}
#big-box header {
	background-color: #0096cc;
	padding: 8px;
}


/* **** MENU **** */
nav a {
	color: inherit; /* ie 6 & 7 need explicit color */
	display: block;
	text-decoration: none;
}
.main-navigation {
	font-size: 0.8em;
	text-shadow: 0 1px 1px #ffffff;
}
.main-navigation ul {
	background: #eeeeee;
	border:  1px solid #dddddd;
}
.main-navigation.border-radius (@radius: 5px) {
	border-radius: @radius;
}
.main-navigation li {
	border-right: 1px solid #dddddd;
}
.main-navigation li:last-child {
	border-right: none;
}
.main-navigation a {
	height: 35px;
	line-height: 35px;
	margin: 3px;
	padding: 0 15px;
}
.main-navigation .children {
	/* submenus */
}
.main-navigation .cf { 
	/* clearfix */
}
.main-navigation ul, 
.main-navigation li, 
.main-navigation a {
	float: left;
}
.main-navigation li {
	position: relative;
}
.main-navigation ul.children {
	left: -999em; /* get submenus out of the way for now */
	position: absolute;
}
/* micro clearfix solution http://nicolasgallagher.com/micro-clearfix-hack/ */
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}



@media only screen and (max-device-width: 480px) and (orientation: portrait) {
	html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
	
	header {
	border: none;
	background-color: #0066cc;
	}
	
	h1 {
	font-size: 28px;
	padding: 12px 22px;
	margin: 0 0;
	color: white;
	}
	
	h1.school-name {
	width: 100%;
	border:  none;
	}
}