@charset "UTF-8";
/* CSS Document */

/* IE8 and below can't handle css transforms */
/* just keeping it simple unless jquery is requested */
#box a.products-header {
	background: url(../images/products.jpg) no-repeat;
	height: 40px;
	background-position: 0 0;
}
#box a.services-header {
	background: url(../images/services.jpg) no-repeat;
	background-position: 0 0;
}
#box .support-header {
	background: url(../images/shutterstock_70552621.jpg) no-repeat;
	background-position: 0 0;
}

/* format the text in the header */
#box .products-header h3, #box .services-header h3, #box .support-header h3 {
	color: orange;
	font-size: 1.5em;
	margin: 8px 0 0 20px; /* tweaked top margin 2 px down */
}

/* format the text for the hover */
/* not messing with photo hover. IE makes a mess of it. */
#box .products-header:hover h3, #box .services-header:hover h3, #box .support-header:hover h3 {
	color: #ffffff;
	font-size: 1.5em;
	margin: 8px 0 0 20px; /* tweaked top margin 2px down */
	text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
}