@charset "UTF-8";
/* CSS Document */

/* unify all the border box items here */
* html, header {
	 box-sizing: border-box; /* traditional model */
	-moz-box-sizing: border-box; /* Firefox, etc. */
	-ms-box-sizing: border-box;
}

/* styling html tag to center page */
html {
	margin: 0.875em auto;
 	padding: 0 1em;
	max-width: 180em; /* 1920px / 16px = 120em */
	font-size: 62.5%
}

body {
	background-color: #ffffff;
	font: 1.4rem "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


/* *** header *** */
header {
	position: relative;
	float: left;
	width: 100%;
	padding: 1%;
	border: 1px solid gray;
	overflow: auto;
	background: #eeeeee;
	/* gradient */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMC43Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(238,238,238,0.7) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(238,238,238,0.7))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(238,238,238,0.7) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(238,238,238,0.7) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(238,238,238,0.7) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(238,238,238,0.7) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#b3eeeeee',GradientType=0 ); /* IE6-8 */

}


/* Chris Coyier clearfix http://css-tricks.com/pseudo-element-roundup/ */
header:before,
header:after {
	content: "";
	display: table;
}
header:after {
	clear:  both;
}
header {
	zoom: 1; /* For IE 6/7 (triggers hasLayout) */
}
/* end clearfix */

/* *** Logo *** */
figure.head-logo {
	width: 11%;
	min-width: 10%;
	max-width: 20%;
	position: relative;
	float: left;
	display: inline-block;   
	overflow: auto; 
}
.head-logo img {
	width: 100%;
	max-width: 100%;
	vertical-align: top;       
}


/* *** name *** */
.logo-text {
	width: auto;
	float: left;
	position: relative;
	margin: .2em .25em;
	padding: 0;
	font-size: 5rem;
	color: black;
	font-weight: bold;
	font-family: Palatino, Times, serif;
	display: inline-block;
	vertical-align: top;
	-webkit-transition: all 0.4s ease-in-out; 
    -moz-transition: all 1000ms ease-in-out; 
    -ms-transition: all 1000ms cubic-bezier(0.235, 0.000, 0.760, 0.990); 
    -o-transition: all 1000ms cubic-bezier(0.235, 0.000, 0.760, 0.990); 
    transition: all 1000ms ease-in-out; /* custom */
}

/* *** slogan *** */
.logo-tagline {
	float: left;
	position: relative;
	font-size: 3.8rem;
	margin: -.125em 0 0 .25em;
	padding: 0;
	color: red;
	font-weight: bold;
	font-family: Palatino, Times, serif;
	font-style: italic;
	display: inline-block;
	vertical-align: top;
	-webkit-transition: all 0.4s ease-in-out; 
    -moz-transition: all 1000ms ease-in-out; 
    -ms-transition: all 1000ms cubic-bezier(0.235, 0.000, 0.760, 0.990); 
    -o-transition: all 1000ms cubic-bezier(0.235, 0.000, 0.760, 0.990); 
    transition: all 1000ms ease-in-out; /* custom */
}

#vision {
	position: relative;
	float: left;
	width: 100%;
	padding: 2em;	
}
#vision h2 {
	color: #444444;
	font-size: 3rem;
	text-align: center;
}
img.map {
	width: 33%;
	position: relative;
	float: left;
}

#big-section {
	position: relative;
	float: left;
	width: 62%;
}
#small-section {
	position: relative;
	float: left;
	width: 37%;
}

.clear-both {
	clear: both;
}

footer {
}


/* styling */
.button a {
	float: left;
	position: relative;
	border: 1px solid green;
	width: auto;
	text-decoration: none;
	padding: 2%;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 2px solid green;
	left: 33%;
	margin: 7% 0 7% 0;
	-webkit-transition: all 0.4s ease-in-out; 
   -moz-transition: all 1000ms ease-in-out; 
    -ms-transition: all 1000ms cubic-bezier(0.235, 0.000, 0.760, 0.990); 
    -o-transition: all 1000ms cubic-bezier(0.235, 0.000, 0.760, 0.990); 
    transition: all 1000ms ease-in-out; /* custom */
}
.button a:hover {
	float: left;
	position: relative;
	border: 1px solid green;
	width: auto;
	text-decoration: none;
	padding: 2% 6%;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 2px solid green;
	left: 29%;
	margin: 7% 0;
	-webkit-transition: all 0.4s ease-in-out; 
   -moz-transition: all 1000ms ease-in-out; 
    -ms-transition: all 1000ms cubic-bezier(0.235, 0.000, 0.760, 0.990); 
    -o-transition: all 1000ms cubic-bezier(0.235, 0.000, 0.760, 0.990); 
    transition: all 1000ms ease-in-out; /* custom */
}

/* Generic Utility */
.hide { position: absolute; top: -9999px; left: -9999px; }
